/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */


/*
** HEADER STYLES
*****************************************************************/

#main {
    padding-top: 10px;
    position: relative;
}

.theme-default .nivoSlider {
    background: url("loading.gif") no-repeat scroll 50% 50% #FFFFFF;
    position: relative;
    box-shadow: none;
    border-bottom: 1px solid #D7D7D7;
}

.theme-default .nivo-controlNav {
  width: 105px;
  margin: -63px auto 0px;
  display: block;
  position: relative;
  z-index: 100;
}

.nivo-caption {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    color: #000000;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 45px 20px;
    position: absolute;
    width: 50%;
    z-index: 8;
}

p.f-f{
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}

p.f-f span{
  color: #144185;
}

p.f-s{
  font-weight: bold;
}

.header__region {
    clear: both;
    float: right;
    margin: -146px 0 0;
}

.region-header #block-block-4 a{
  color: #3b5681;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
}

/****** Header twitter area style ******/
.region-header #block-block-3 p{
  float: left;
  margin: 30px 20px 0 270px;
}

.region-header #block-block-3 span{
  background: url("/sites/all/themes/happion/images/twitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 15px;
  width: 18px;
  
}

/****** First menu ******/
#block-menu-menu-first-menu ul.menu {
  text-align: right;
  padding: 0px;
  margin: 65px -15px 0px 0px;
}

#block-menu-menu-first-menu ul.menu li {
  display: inline-block;
  font-size: 18px;
}

#block-menu-menu-first-menu ul.menu li a {
  color: #d51812;
  text-decoration: none;
  padding-right: 8px;
  padding-left: 3px;
  text-transform: uppercase;
}

.panel-3col-33 .panel-col-first {
    float: left;
    width: 33%;
}

/****Right box style start***/
.view-id-1{
  border: 1px solid #B2B2B2;
  height: 308px;
  margin-left: -2px;
  position: relative;
  width: 301px;
}

.view-id-1 .views-field-field-red-text{
  color: #db8514;
  font-weight: bold;
  margin: 35px 0 0 20px;
  position: absolute;
  text-transform: uppercase;
}

.view-id-1 .views-field-field-yellow-text{
  color: #FF0000;
  font-weight: bold;
  margin: 65px 0 0 20px;
  position: absolute;
  text-transform: uppercase;
}

.view-id-1 .views-field-field-short-text{
  font-size: 14px;
  line-height: 1em;
  margin: 100px 0 0 20px;
  position: absolute;
  width: 175px;
  z-index: 3;
}


.view-id-1 .views-field-view-node a{
  background: none repeat scroll 0 0 #F41913;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin: 175px 0 0 20px;
  padding: 3px;
  position: absolute;
  text-decoration: none;
  z-index: 4;
}

.view-id-1 .views-field-field-image-cc{
  bottom: 0;
  position: absolute;
  width: 299px;
}
/****Right box style end***/

/****Middle box style start***/
.view-id-2{
  border: 1px solid #B2B2B2;
  height: 308px;
  margin-left: 5px;
  position: relative;
  width: 301px;
}

.view-id-2 .views-field-field-red-text{
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0 0 20px;
  position: absolute;
  text-transform: uppercase;
}

.view-id-2 .views-field-field-yellow-text{
  color: #80980e;
  font-size: 28px;
  font-weight: bold;
  margin: 65px 0 0 20px;
  position: absolute;
  text-transform: uppercase;
}

.view-id-2 .views-field-field-short-text{
  color: #7f7f7f;
  font-size: 14px;
  margin: 100px 0 0 20px;
  position: absolute;
  width: 175px;
  z-index: 3;
}


.view-id-2 .views-field-view-node a{
  background: none repeat scroll 0 0 #80980e;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin: 135px 0 0 20px;
  padding: 3px 6px;
  position: absolute;
  text-decoration: none;
  z-index: 4;
}

.view-id-2 .views-field-field-image-cc{
  bottom: 0;
  position: absolute;
  width: 299px;
}
/****Middle box style end***/


/****Last box style start***/
.view-display-id-block_last_posts  {
  border: 1px solid #B2B2B2;
  height: 308px;
  margin-left: 16px;
  position: relative;
  width: 301px;
}

.view-display-id-block_last_posts .view-content {
  margin: 35px 0 0 20px;
}

.view-display-id-block_last_posts .view-content a{
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/****Last box style end***/
/*
***
*/
.region-footer .block {
  margin: 0px;
}

#footer {
  height: 172px;
  /*width: 960px;*/
  background: #f6f6f6;
  padding: 0px;
  margin: 0px auto 104px;
  border-top: 1px solid #cbcbcb;

}

/****** Footer twitter area style ******/
.region-footer #block-block-1 p{
  color: #4978d4;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 0 35px;
}

.region-footer #block-block-1 span{
  background: url("/sites/all/themes/happion/images/twitter-icon-footer.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  float: right;
  height: 30px;
  margin: -5px 0 0 10px;
  width: 37px;
}


/****** Footer menu ******/
#block-menu-menu-foote-menu ul.menu {
  text-align: right;
  padding: 0px;
  margin: 20px 30px 0 0;
}

#block-menu-menu-foote-menu ul.menu li {
  display: inline-block;
  font-size: 12px;
}

#block-menu-menu-foote-menu ul.menu li a {
  color: #fd0100;
  text-decoration: none;
  border-right: 1px solid #3b74a1;
  padding-right: 8px;
  padding-left: 3px;
}

#block-menu-menu-foote-menu ul.menu li.last a {
  border-right: 0px;
}
/****** Footer copyraight style ******/
.region-footer #block-block-2 {
  color: #4d4d4d;
  font-size: 9px;
  text-align: right;
  padding: 0px;
  margin: -20px 35px 0 0;
}

/**
**
*/ 
.region-plain-box-temporary-b081a6d629df306004d1771e09446338 {
    color: #000000;
    margin-bottom: 0;
    padding-top: 0;
}

.responsive-menus.responsified span.toggler {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-shadow: none;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 1.35em;
  outline: medium none;
  padding: 1px 1px 20px;
  text-align: right;
}